body { background-color: #ADD8E6; }
h1 { background-color: #0070c0;
     color: white;
     font-size: 50px;
     margin-bottom: 25px;
     text-align: left; }
p { font-size: 30px;
    margin-bottom: 75px;
    color: black;
    text-align: left; }
.link { color: #0070c0; }
.header { height: 75px;
          width: 100%;
          box-shadow: 0 0 10px #dddddd;
          background-color: #0070c0; }
.header-left { float: left; }
.header-left a { line-height: 75px;
                 color: white;
                 text-decoration: none;
                 font-size: 50px; }
.clear { clear: both; }
.footer { height: 100px;
          width: 100%;
          background-color: #0070c0;
          color: white;
          font-size: 20px;
          padding-top: 30px;
          text-align: center; }
