body { background-color: #ADD8E6; }
h1 { background-color: #0070c0;
     color: white;
     font-size: 50px;
     margin-bottom: 25px;
     text-align: left; }
p { font-size: 30px;
    margin-bottom: 75px;
    color: black;
    text-align: left; }
.link { color: #0070c0; }
.footer { height: 100px;
          width: 100%;
          background-color: #0070c0;
          color: white;
          font-size: 20px;
          padding-top: 30px;
          text-align: center; }
